@use 'global';
@use 'variable';
.user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  animation: user 0.5s linear;
  &:hover &__btn {
    display: inline-block;
  }
  &::after {
    content: '';
    position: absolute;
    top: 20px;
    right: -62px;
    width: 70%;
    height: 50%;
  }
  &__btn {
    display: none;
    position: absolute;
    right: -100%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0.8rem 1.5rem;
    background-color: cornflowerblue;
    border-radius: 5px;
    color: variable.$color-white;
    cursor: pointer;
  }
  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgb(139, 203, 219);
    overflow: hidden;
    &--img {
      width: 100%;
      object-fit: cover;
    }
  }
  p {
    font-size: 2rem;
    color: variable.$color-dark-text;
    font-weight: 700;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: variable.$font-poppins;
  padding: 0 3rem;
  text-align: center;

  &__title {
    font-size: 5rem;
    color: variable.$color-dark-text;
    font-weight: 600;
    @media screen and (max-width: 48rem) {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }

  &__des {
    font-size: 2rem;
    font-weight: 400;
    color: variable.$color-light-text;
    max-width: 90rem;

    @media screen and (max-width: 48rem) {
      font-size: 1.2rem;
      width: 120%;
      margin-bottom: 2rem;
    }
  }
}
.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
}
.photos {
  max-width: 120rem;
  width: 100%;
  // max-width: calc($max-width + 12rem);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // overflow-x: hidden;
  &__btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5rem;

    .btn {
      color: variable.$color-white;
      background-color: variable.$bg-btn;
      padding: 1rem 1.5rem;

      &:active {
        animation: btn 0.3s ease-in;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__wrapper {
    --card-column: 3;
    --card-spacing: 2.4rem;

    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--card-spacing));
    margin-bottom: calc(-1 * var(--card-spacing));
    @media screen and (max-width: 48rem) {
      --card-spacing: 1.4rem;
    }
    @media screen and (min-width: 48.1rem) and (max-width: 76.8rem) {
      --card-spacing: 1.8rem;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--card-spacing);
    margin-left: var(--card-spacing);
    width: calc(calc(100% / var(--card-column)) - var(--card-spacing));
    border: 1px solid rgb(175, 175, 175);
    border-radius: 0.5rem;
    overflow: hidden;

    @media screen and (max-width: 48rem) {
      --card-column: 1;
    }
    @media screen and (min-width: 48.1rem) and (max-width: 76.8rem) {
      --card-column: 2;
    }

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__img {
        width: 100%;
        height: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &--img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__des {
        font-size: 1.7rem;
        color: variable.$color-dark-text;
        text-align: center;
        font-weight: 500;
        margin: 1.5rem 0;
        padding: 0 0.5rem;
      }
    }

    &__footer {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex: 1;
      border-top: 1px solid #afafaf;
      background-color: #f7f7f7;

      .photo__btn {
        margin: 0 0.5rem;
        color: variable.$color-white;
        background-color: variable.$bg-btn;
        padding: 0.9rem 1.5rem;
        transition: all 0.3s ease-in-out;

        &:active {
          animation: btn 0.5s linear;
        }
      }
      &--btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        border-top: 1px solid #afafaf;
        padding: 1.5rem 1.5rem;
      }
      .photo__btn:hover {
        opacity: 0.8;
        transform: translateY(3px);
      }
      &--time {
        span {
          font-size: 1.4rem;
          font-weight: 500;
          color: variable.$color-dark-text;
        }
      }
    }
  }
}
@keyframes btn {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5rem;

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  &__previous--btn,
  &__next--btn {
    height: 5.4rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: rgb(18, 18, 175);
    font-size: 2rem;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 48rem) {
      height: 4.6rem;
    }
  }

  &__previous--btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0px;

    &:hover {
      background-color: rgb(173, 173, 173);
    }

    &.disabled {
      pointer-events: none;
      background-color: #e5e5e5;
      cursor: not-allowed;
      a {
        color: #333;
      }
    }
  }

  &__next--btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &.disabled {
      pointer-events: none;
      background-color: #e5e5e5;
      cursor: not-allowed;
      a {
        color: #333;
      }
    }
    &:hover {
      background-color: rgb(173, 173, 173);
    }
  }

  &__item {
    border: 1px solid #333;
    border-right: 0px;

    &.active {
      background-color: rgb(173, 173, 173);
    }
    &:hover {
      background-color: rgb(173, 173, 173);
    }
  }

  &__link {
    display: inline-block;
    padding: 0.9rem 2rem;
    text-decoration: none;
    color: rgb(18, 18, 175);
    font-size: 2rem;
    @media screen and (max-width: 48rem) {
      padding: 0.5rem 1rem;
    }
  }
}

.back-top {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  border: 1px solid #333;
  border-radius: 50%;
  position: fixed;
  bottom: 10rem;
  right: 5rem;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(18, 18, 175);
    transition: width 0.25s linear;
    z-index: -1;
  }
  &:hover::before {
    width: 100%;
  }

  &:active {
    animation: btn 0.3s ease-in-out;
  }
}
